        <div class="wrapper-page">
        	<div class="account-bg">
                <div class="card-box m-b-0">
                    <div class="text-xs-center m-t-20">
                        <a class="logo">
                            <img src="assets/images/favicon.png" alt="favicon img" height="40px" >
                            <span>MRI Image Analysis(MIA)</span>
                        </a>
                    </div>
                    <div class="m-t-30 m-b-20">
                        <div class="col-xs-12 text-xs-center">
                            <h6 class="text-muted text-uppercase m-b-0 m-t-0">Login to MIA</h6>
                        </div>
                        <form class="form-horizontal m-t-20" data-ng-submit="login()">

                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" placeholder="Username" ng-model="mlpAdminUsername">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" placeholder="Password" ng-model="mplAdminPassword">
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <div class="checkbox-custom">
                                        <input id="checkbox-signup" type="checkbox" 
                                        ng-model="rememberMe.checked" ng-click="setCheckValue()"
									    value="Remember me" ng-checked="isChecked" style="vertical-align: middle;">
                                        <label for="checkbox-signup">
                                            Remember me
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group text-center m-t-30">
                                <div class="col-xs-12">
                                    <button class="btn btn-success btn-block waves-effect waves-light" type="submit" ng-disabled="isLoginButtonClicked">Login</button>
                                </div>
                            </div>

                            <div class="form-group m-t-30 m-b-0">
                                <div class="col-sm-12">
                                    <a href="#forgot-page" class="text-muted"><em class="fa fa-lock m-r-5"></em> Forgot your password?</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>