<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close icon-close" data-dismiss="modal"
			aria-hidden="true" data-ng-click="cancel()"></button>
		<h4 class="modal-title text-center" id="myModalLabel">Change
			Password</h4>

	</div>

	<div class="modal-body">
		<form ng-submit="ChangePassword()" autocomplete="off">
		
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span style="color:red;">*&nbsp;</span>
							<label for="inputdefault"> indicates mandatory field.
							</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span style="color:red;">*&nbsp;</span><label for="inputdefault">Old
							Password</label> <input class="form-control" id="inputdefault"
							type="password" ng-model="oldPassword" placeholder="******"
							autocomplete="nope">

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span style="color:red;">*&nbsp;</span><label for="inputdefault">New
							Password</label> <input class="form-control" id="inputdefault"
							type="password" ng-model="newPassword" placeholder="******"
							tooltip-html-unsafe="Password must be minumum 6 and maximum 15 characters."
							tooltip-placement="up" autocomplete="nope"
							maxlength="15">

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<span style="color:red;">*&nbsp;</span><label for="inputdefault">Confirm
							Password</label> <input class="form-control" id="inputdefault"
							type="password" ng-model="confirmPassword" placeholder="******"
							tooltip-html-unsafe="Confirm password must be minumum 6 and maximum 15 characters."
							tooltip-placement="up" autocomplete="off"
							maxlength="15">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-info mr10"
					ng-disabled="isChangePasswordButtonClicked">Change Password</button>
				<button type="button" class="btn btn-info"
					data-ng-click="cancel()">Cancel</button>
			</div>
		</form>
		<div data-ng-show="payment_error"
			class="alert alert-info alert-dismissable">{{errorMessage}}</div>
	</div>