	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Logout</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<h6 class="text-muted m-b-10 m-t-0">Do You Want To Logout?</h6>
				</div>
			</div>	
		</div>
		<div class="modal-footer">
			<button class="btn btn-custom" data-ng-click="logout()" ng-disabled="isLogoutButtonClicked">YES</button>
			<button class="btn btn-default" data-ng-click="cancel()">NO</button>
		</div>
	</div>
	
	